.App {
    width: 70%;
    margin: 0 auto;
}
body {
    height: 100%;
    background-image: linear-gradient(#232931, #0e3150);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.bracket {
    color: black;
}

@media (max-width: 1200px) and (min-width: 571px) {
    .App {
        width: 90%;
    }
}

@media (max-width: 570px) {
    .App {
        width: 90%;
    }
}

@media (max-width:1500px) and (min-width: 1201px) {
    .App {
        width: 90%;
    }
}
